<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmA27fXk-4bPUjR4UjRyxQZMJcNFmsERQ</string>
	<key>GCM_SENDER_ID</key>
	<string>758614943898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usersApp</string>
	<key>PROJECT_ID</key>
	<string>thesis-2-a3a54</string>
	<key>STORAGE_BUCKET</key>
	<string>thesis-2-a3a54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758614943898:ios:12878c69812a241805d723</string>
</dict>
</plist>